@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 12vh;
    background-color: white;
    z-index: 1;
}
header .firstImgHeader {
    width: 7vw;
}
header .firstImgHeader:hover {
    cursor: pointer;
}
header .firstNavHeader {
    display: flex;
    justify-content: center;
    width: 55vw;
}
header .firstNavHeader ul {
    display: flex;
    justify-content: space-between;
    width: 42vw;
    font-family: "Montserrat", sans-serif;
    font-size: 0.75em;
    font-weight: 500;
    color: #9767A9;
    list-style: none;
}
header .firstNavHeader li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 6vw;
    height: 5vh;
}
header .firstNavHeader li:hover {
    position: relative;
    cursor: pointer;
    font-weight: bolder;
}
header .firstNavHeader .liTwoFirstNavHeader {
    width: 11vw;
}
header .firstNavHeader .liFiveFirstNavHeader {
    width: 7vw;
}
header details {
    display: none;
}
header section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5vw;
    height: 5vh;
    border: #9767A9 solid 2px;
    border-radius: 20px;
}
header section img {
    width: 1.5vw;
    height: 3vh;
    margin: 3px 3px 0 0;
}
header section input {
    width: 10vw;
    border: none;
    outline: 0;
}
header .secondNavHeader {
    display: flex;
    justify-content: flex-end;
    width: 11.5vw;
}
header .secondNavHeader ul {
    display: flex;
    justify-content: space-between;
    list-style: none;    
}
header .secondNavHeader li {
    width: 3.1vw;
}
header .secondNavHeader img {
    width: 2.2vw;
}
header .secondNavHeader img:hover {
    cursor: pointer;
    transform: scale(1.08);
}
main .firstSectionMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-image: url(./assets/noPath1.png);
    background-size: cover;
}
main .firstSectionMain h1 {
    display: flex;
    align-items: flex-end;
    width: 17vw;
    height: 43vh;
    font-family: 'Playfair Display', serif;
    font-size: 4.5em;
    color: white;
    line-height: 1em;
}
main .firstSectionMain p {
    display: flex;
    align-items: flex-end;
    width: 25vw;
    height: 33vh;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6em;
    color: white;
    line-height: 1.4em;
    word-spacing: 3px;
}
main .secondSectionMain {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 45vh;
    background: #9767A9;
}
main .secondSectionMain h2 {
    width: 51vw;
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    color: white;
}
main .secondSectionMain p {
    display: flex;
    align-items: flex-end;
    width: 27vw;
    height: 16vh;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: white;
}
main .secondSectionMain p:first-of-type {
    height: 12vh;
}
main .secondSectionMain p:last-of-type {
    height: 12.5vh;
}
main .thirdSectionMain {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 435vh;
}
main .mobileThirdSectionMain {
    display: none;
}
main .thirdSectionMain .sectionOneThirdSectionMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 443vh;
}
main .thirdSectionMain .sectionTwoThirdSectionMain {
    display: flex;
    flex-direction: column;
    height: 400vh;
    margin-left: 0.5em;
}
main .thirdSectionMain figure {
    display: flex;
    width: 40.5vw;
    flex-direction: column;
    align-items: center;
}
main .thirdSectionMain img {
    width: 40vw;
    height: 70vh;
}
main .thirdSectionMain figcaption {
    width: 30vw;
}
/* main .thirdSectionMain div {
    border: orangered solid;
} */
main .figOneThirdSectionMain {
    height: 115vh;
}
main .figOneThirdSectionMain figcaption {
    display: flex;
    align-items: flex-end;
    height: 40vh;
}
main .figOneThirdSectionMain div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 53vh;
    padding: 0 1em 1em 1em;
    background-color: #9767A9;
}
main .figOneThirdSectionMain h3 {
    width: 18vw;
    font-family: 'Playfair Display', serif;
    font-size: 1.4em;
    color: white;
}
main .figOneThirdSectionMain span {
    font-size: 1.8em;
}
main .figOneThirdSectionMain p {
    font-family: "Montserrat", sans-serif;
    color: white;
}
main .figThreeThirdSectionMain {
    height: 110vh;
}
main .figThreeThirdSectionMain figcaption {
    display: flex;
    align-items: flex-end;
    height: 19.5vh;
}
main .figThreeThirdSectionMain div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 41vh;
    padding: 0 1em 1em 1em;
    background-color: #9767A9;
}
main .figThreeThirdSectionMain h3 {
    width: 15vw;
    font-family: 'Playfair Display', serif;
    font-size: 1.4em;
    color: white;
}
main .figThreeThirdSectionMain span {
    font-size: 1.8em;
}
main .figThreeThirdSectionMain p {
    font-family: "Montserrat", sans-serif;
    color: white;
}
main .figFiveThirdSectionMain {
    height: 112vh;
}
main .figFiveThirdSectionMain figcaption {
    display: flex;
    align-items: flex-end;
    height: 28vh;
}
main .figFiveThirdSectionMain div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 48vh;
    padding: 0 1em 1em 1em;
    background-color: #9767A9;
}
main .figFiveThirdSectionMain h3 {
    width: 18vw;
    font-family: 'Playfair Display', serif;
    font-size: 1.4em;
    color: white;
}
main .figFiveThirdSectionMain span {
    font-size: 1.8em;
}
main .figFiveThirdSectionMain p {
    font-family: "Montserrat", sans-serif;
    color: white;
}
main .figSevenThirdSectionMain {
    height: 105vh;
}
main .figSevenThirdSectionMain figcaption {
    display: flex;
    align-items: flex-end;
    height: 15.4vh;
}
main .figSevenThirdSectionMain div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 35vh;
    padding: 0 1em 1em 1em;
    background-color: #9767A9;
}
main .figSevenThirdSectionMain h3 {
    width: 18vw;
    font-family: 'Playfair Display', serif;
    font-size: 1.4em;
    color: white;
}
main .figSevenThirdSectionMain span {
    font-size: 1.8em;
}
main .figSevenThirdSectionMain p {
    font-family: "Montserrat", sans-serif;
    color: white;
}
main .figTwoThirdSectionMain {
    height: 110vh;
}
main .figTwoThirdSectionMain figcaption {
    display: flex;
    align-items: flex-end;
    height: 30vh;
}
main .figTwoThirdSectionMain div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 50.5vh;
    padding: 0 0.91em 1em 1em;
    background-color: #9767A9;
}
main .figTwoThirdSectionMain h3 {
    width: 18vw;
    font-family: 'Playfair Display', serif;
    font-size: 1.4em;
    color: white;
}
main .figTwoThirdSectionMain span {
    font-size: 1.8em;
}
main .figTwoThirdSectionMain p {
    font-family: "Montserrat", sans-serif;
    color: white;
}
main .figFourThirdSectionMain {
    height: 113vh;
}
main .figFourThirdSectionMain figcaption {
    display: flex;
    align-items: flex-end;
    height: 38vh;
}
main .figFourThirdSectionMain div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 42vh;
    padding: 0 1em 1em 1em;
    background-color: #9767A9;
}
main .figFourThirdSectionMain h3 {
    width: 25vw;
    font-family: 'Playfair Display', serif;
    font-size: 1.4em;
    color: white;
}
main .figFourThirdSectionMain span {
    font-size: 1.8em;
}
main .figFourThirdSectionMain p {
    font-family: "Montserrat", sans-serif;
    color: white;
}
main .figSixThirdSectionMain {
    height: 115vh;
}
main .figSixThirdSectionMain figcaption {
    display: flex;
    align-items: flex-end;
    height: 30vh;
}
main .figSixThirdSectionMain div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 39vh;
    padding: 0 1em 1em 1em;
    background-color: #9767A9;
}
main .figSixThirdSectionMain h3 {
    width: 18vw;
    font-family: 'Playfair Display', serif;
    font-size: 1.4em;
    color: white;
}
main .figSixThirdSectionMain span {
    font-size: 1.8em;
}
main .figSixThirdSectionMain p {
    font-family: "Montserrat", sans-serif;
    color: white;
}
main .sectionTwoThirdSectionMain figure:last-child {
    display: flex;
    justify-content: center;
    width: 40vw;
    height: 30vh;
}
main .sectionTwoThirdSectionMain img:last-child {
    width: 30vw;
    height: 10vh;
}
main .fourthSectionMain {
    display: flex;
    justify-content: center;
    height: 100vh;
}
main .mobileFourthSectionMain {
    display: none;
}
main .fourthSectionMain section {
    margin: 0 0.2em;
}
main .figOneFourthSectionMain img {
    width: 18vw;
    height: 60vh;
}
main .figTwoFourthSectionMain img {
    width: 18vw;
    height: 30vh;
}
main .figThreeFourthSectionMain img {
    width: 14vw;
    height: 30vh;
}
main .figFourFourthSectionMain img {
    width: 14vw;
    height: 29.4vh;
}
main .figFiveFourthSectionMain img {
    width: 14vw;
    height: 30vh;
}
main .figSixFourthSectionMain img {
    width: 14vw;
    height: 60vh;
}
main .figSevenFourthSectionMain img {
    width: 14vw;
    height: 30vh;
}
main .figEightFourthSectionMain img {
    width: 18vw;
    height: 90.6vh;
    margin: 0 0.2em;
}
main .figNineFourthSectionMain img {
    width: 14vw;
    height: 30vh;
}
main .figTenFourthSectionMain img {
    width: 14vw;
    height: 60vh;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #9767A9;
}
footer p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8em;
    color: white;
}
footer ul {
    display: flex;
    justify-content: space-between;
    width: 22vw;
}
footer li {
    display: flex;
    align-items: center;
    width: 6.5vw;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8em;
    color: white;
    list-style: none;
}
footer li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.301);
}
footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
/* --------------- MOBILE --------------- */
@media screen and (max-width: 767px) {
    
    header {
        justify-content: space-between;
    }
    header figure {
        width: 65vw;
    }
    header .firstImgHeader {
        width: 30vw;
    }
    header .desktopFirstNavHeader {
        display: none;
    }
    header details {
        display: inline-block;
    }
    header summary {
        width: 25vw;
        height: 12.5vh;
        list-style: none;
    }
    header summary img {
        width: 24.6vw;
        height: 12.3vh;
    }
    header .mobileFirstNavHeader {
        display: inline;
        position: absolute;
        height: 32vh;
    }
    header .mobileFirstNavHeader ul {
        display: inline;
        color: white;
    }
    header .mobileFirstNavHeader li {
        display: flex;
        align-items: center;
        width: 50vw;
        height: 5vh;
        font-size: 1.5em;
        margin: 2px 0;
        padding-left: 1em;
        background-color: #9767A9;
    }
    header .mobileFirstNavHeader li:hover {
        font-weight: 900;
        background-color: rgba(255, 255, 255, 0.637);
    }
    header section {
        display: none;
    }
    header .secondNavHeader {
        display: none;
    }
/* --------------- HEADER DONE --------------- */
    main .firstSectionMain {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 60vh;
        background-size: 250%;
        background-repeat: no-repeat;
        background-position: -11em 6em;
    }
    main .firstSectionMain h1 {
        width: 77vw;
        height: 32vh;
        font-size: 3.5em;
        line-height: 1.2em;
    }
    main .firstSectionMain p {
        width: 77vw;
        height: 10vh;
        font-size: 1.4em;
        word-spacing: 0px;
        padding-right: 15vw;
    }
/* --------------- FIRST SECTION MAIN DONE --------------- */
    main .secondSectionMain {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 45vh;
        background: #9767A9;
    }
    main .secondSectionMain h2 {
        width: 89vw;
        font-size: 1.5em;
    }
    main .secondSectionMain p {
        align-items: flex-end;
        width: 88vw;
        height: 13vh;
    }
    main .secondSectionMain p:first-of-type {
        height: 8vh;
    }
/* --------------- SECOND SECTION MAIN DONE --------------- */
    main .thirdSectionMain {
        display: none;
    }
    main .mobileThirdSectionMain {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    main .mobileThirdSectionMain img {
        width: 80vw;
        height: 30vh;
    }
    main .mobileThirdSectionMain figcaption {
        width: 100%;
    }
    main .mobileThirdSectionMain div {
        justify-content: space-evenly;
        width: 100%;
        padding-left: 10vw;
    }
    main .mobileThirdSectionMain h3 {
        width: 63vw;
        font-size: 1.4em;
    }
    main .mobileThirdSectionMain span {
        font-size: 1em;
    }
    main .mobileThirdSectionMain p {
        width: 75vw;
    }
    main .figOneMobile {
        height: 67vh;
    }    
    main .figOneMobile figcaption {
        height: 34vh;
    }
    main .figOneMobile div {
        height: 47vh;
    }
    main .figTwoMobile {
        height: 74vh;
    }
    main .figTwoMobile figcaption {
        height: 41vh;
    }
    main .figTwoMobile div {
        height: 46vh;
    }
    main .figThreeMobile {
        height: 60vh;
    }
    main .figThreeMobile figcaption {
        height: 27vh;
    }
    main .figThreeMobile div {
        height: 33vh;
    }
    main .figThreeMobile h3 {
        width: 23vh;
    }
    main .figFourMobile {
        height: 68vh;
    }
    main .figFourMobile figcaption {
        height: 35vh;
    }
    main .figFourMobile div {
        height: 37vh;
    }
    main .figFourMobile h3 {
        width: 80vw;
    }
    main .figFiveMobile {
        height: 66vh;
    }
    main .figFiveMobile figcaption {
        height: 33vh;
    }
    main .figFiveMobile div {
        height: 41vh;
    }
    main .figSixMobile {
        height: 63vh;
    }
    main .figSixMobile figcaption {
        height: 30vh;
    }
    main .figSixMobile div {
        height: 34vh;
    }
    main .figSevenMobile {
        height: 57vh;
    }
    main .figSevenMobile figcaption {
        height: 24vh;
    }
    main .figSevenMobile div {
        height: 29vh;
    }
    main .figEightMobile {
        justify-content: center;
        height: 20vh;
    }
    main .figEightMobile img {
        width: 40vw;
        height: 5vh;
    }
/* --------------- THIRD SECTION MAIN DONE --------------- */
    main .fourthSectionMain {
        display: none;
    }
    main .mobileFourthSectionMain {
        display: flex;
        flex-direction: column;
    }
}